h1{
    color: rgb(187, 65, 69);
    text-align: center;
    font-weight: bold;
}
h5{
    color:coral;
    font-weight: bold;
}
h3{
    font-weight: bold;
    color:rgb(124, 85, 143);
}
h6{
    color: rgb(88, 88, 43);
    font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
  }


  .menu {
    display: flex;
    justify-content: center; /* yatayda ortala */
    align-items: center;
    gap :30px;
    margin-top: 30px;
  }

  .menu a {
    text-decoration: none;
    color: rgb(47, 65, 180);
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  ul {
    padding-left: 20px; /* varsayılanı 40px'tir, düşürdük */
    list-style-position: inside;
  }
  .hakkimizda {
    text-align: left;     /* Sola hizalama */
    padding: 10px;
    max-width:10000px;
    margin-left: 0;       /* Sol kenara yapışık */
    font-family: Arial, sans-serif;
  }